body{

    background-color: #b2dfdb;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.header{
    height: 75px;
    background-color: #82ada9;
    text-align: center;
    font-family: 'Lobster', cursive;
}
.header > p{
    margin: 0;
    font-size: 50px;
    padding: 10px 15px 0px;
    color: #e5ffff;
    float: right;
}
.header > img{
    height: 55px;
    margin: 10px;
    float: left;

}
.content{
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 100vw;
    font-size: 40px;
    background-color: #82ada9;
}

.content > img{
    height: 75px;
    margin: auto 20px 20px auto;
}
.content > p{
    padding: 0px;
    margin: auto auto 0 0;
    font-size: 100px;
    
}
.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons > button{
    height: 75px;
    width: 150px;
    margin: 5vh 3vw ;
    font-size: 40px;
    background-color: #b2dfdb;
    border: 3px solid #e5ffff;
    border-radius: 5px;
    font-family: 'Lobster', cursive;
}
.buttons > button:hover{
    background-color: #e5ffff;
    border-color: #82ada9;
}

@media all and (max-width: 700px){
    .buttons{
        margin-top: 20px;
    }
    .buttons > button{
        width: 200px;
        margin: 1vh 15vw;
    }
}


